.review{
    max-width: 300px;
    height: 210px;
    background-color: white;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    box-shadow: 4px 8px 15px 9px #cfcdcd;
    position: relative;
}
.review p{
    padding: 0px 20px;
    margin-left: 0px;
}
.icon{
    color: #FF9529;
    margin-left: 2px;
}