.container{
    align-items: center;
    justify-content: center;
}
.first-section-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between; 
}
.first-section-container img{
    max-width: 400px;
    justify-content: center;
}
.h1-title-style{
    color: seagreen;
    text-align: center;
    margin-top: 40px;
}
h2{
    text-align: center;
   font-size: x-large;
   margin-top: 0px;
   margin-bottom: 0px;
}
.h2-style{
    color: rgb(32, 62, 230);
}
p{
    font-size: large;
    margin-left: 20px;
    text-align: start;
}
.review-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
@media screen and (max-width:640px) {
    .first-section-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .review-card{
        grid-template-columns: repeat(1, 1fr);
    }
}