.link-design{
    margin-top: 30px;
}
.link-design nav{
    text-align: center;
    justify-content: center;
    display: flex;
    
}
.link-design nav a {
    margin-right: 20px;
    font-size: larger;
    font-weight: 600;
    text-decoration-line: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 20%;
}